div {
    border: solid black 5px;
}

@font-face {
    font-family: 'Norse-Bold';
    src: url(Media/Norse-Bold.otf) format('opentype');
  }

body {
    font-family: 'Newsreader', Verdana, sans-serif;
}

.container {
    display: flex;
    height: 100vh;
}

.left {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: black;
    text-align: center;
}

.right {
    flex: 2;
}

a {
    text-decoration: none;
    color: inherit;
}

.green {
    color: green;
}

