div {
    border: solid black 5px;
}

@font-face {
    font-family: 'Norse-Bold';
    src: url(Media/Norse-Bold.otf) format('opentype');
  }

body {
    font-family: 'Newsreader', Verdana, sans-serif;
}

.container {
    display: flex;
    height: 100vh;
}

.left {
    flex-grow: 1;
}

.right {
    flex-grow: 2;
}
